:root {
    --primary-color: #333;
    --secondary-color: #4c4b4b;
    --brand-color: red;
    --border-color: aqua;
    --a-color: #fff;
    --b-color: #000;
    --name-color: rgb(100, 255, 255);
    --background-content: linear-gradient(
        to right,
        rgb(104, 104, 104),
        rgb(163, 162, 162)
    );
}

* {
    padding: 0;
    margin: 0; 
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--primary-color);
    position: fixed;
    padding: 1rem;
    width: 100%;
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-1 {
    color: var(--brand-color);
    font-family: 'Times New Roman', Times, serif;
}

.a-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--brand-color);
}

.container-2 {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.url {
    border: var(--border-color) solid 1px;
    padding: 0.5rem 0.8rem;
    color: var(--a-color);
    text-decoration: none;
    transition: 0.5s, color 0.5s;
    font-weight: bold;
}

.url:hover {
    background-color: var(--border-color);
    color: var(--primary-color);
}

.container-content {
    display: flex;
    flex-direction: column;
}

main {
    background-color: var(--secondary-color);
    padding: 4.5rem;
}

#about, #projects, #skills, #certificates {
    padding: 57.5px 0px;
    background: var(--secondary-color);
}

.content {
    border: var(--border-color) solid 1px;
    box-shadow: var(--border-color) 0px 0px 10px;
    padding: 1rem;
    margin: 1rem 0;
    color: var(--a-color);
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content:hover {
    transition: 1.5s, color 1.5s;
    background: var(--background-content);
    box-shadow: var(--border-color) 0px 0px 20px;
    color: var(--b-color);
}

.content h2 {
    color: var(--name-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* list */
.project-list, .skills-list, .certificates-list, .contact-list {
    list-style: none;
}

.certificate-project-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

hr {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 1rem 0;
}

p {
    text-align: justify;
    margin-top: 6px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-image, .certificate-image {
    max-width: 720px;
    max-height: 800px;
    margin: 12px 0px;
}

.project-image:hover, .certificate-image:hover {
    transition: 0.5s, transform 0.5s;
    transform: scale(1.05);
}

.contact-icon {
    max-width: 32px;
    max-height: 32px;
    margin: 4px;
}

.contact-icon:hover {
    transition: 0.5s, transform 0.5s;
    transform: scale(1.2);
}


footer {
    background-color: var(--primary-color);
    color: var(--a-color);
    text-align: center;
    padding: 1rem;
    position: relative;
}

.p-footer {
    text-align: center;
}

.name {
    color: var(--name-color);
}

@media only screen and ( max-width: 760px){
    header {
        padding: 4px 0px;
    }

    .container {
        max-width: 310px;
        padding: 0px 1px;
        flex-direction: column;
    }

    .a-brand {
        font-size: 20px;
    }

    .nav-list {
        gap: 1px;
    }
    
    .url {
        padding: 1px;
        margin: 0px 3px;
        font-size: smaller;
    }

    main {
        padding: 2.5rem;
    }

    #about, #projects, #skills, #certificates {
        padding: 37.5px 0px;
    }

    .contact-icon {
        max-width: 20px;
        max-height: 20px;
        margin: 6px 4px;
    }
}